#####################################
# Globals
#####################################
**/bower_components
**/node_modules
**/packages
**/Debug
**/bin
**/obj
**/.vs
*.log*
*.user

#####################################
# Web
#####################################
/node_modules
